/* === Base === */

html,
body {
    overflow: hidden;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #4e5256;
    text-rendering: optimizeLegibility;
}

a {
    color: #0172b4
}

a:hover {
    color: #486e12
}

a:visited {
    color: #9097a8;
}


/* Reset */

.ms-core-navigation {
    font-family: inherit !important;
}


/* Hide the logo */

#searchIcon,
#siteIcon {
    display: none;
}


/* Hide SharePoint Branding Text */

.ms-core-brandingText {
    display: none;
}


/* Replace the blue background */

#ms-designer-ribbon {
    border-bottom: 1px solid #e2e7ee;
}

#globalNavBox {
    background: white;
}

#suiteBarLeft {
    background-color: white;
}

#suiteBarRight {
    background-color: white;
}


/* hide the links (OneDrive) */

#suiteLinksBox {
    display: none;
}


/* Hide about me */

#welcomeMenuBox {
    display: none;
}


/* hide MS Help */

#ms-help {
    display: none;
}


/* === MT Footer and GUH === */


/* Layout fix for GUH and footer */

.mt-placeholder-top {
    height: 26px;
    width: 100%;
    display: block;
    background: transparent;
}

.mt-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* The bottom margin is the negative value of the footer's height */
    margin: 0 auto -57px;
    overflow: visible !important;
}


/* Footer */

.mt-footer {
    background-color: white;
    border-bottom: 20px solid #649a19;
    border-top: 1px solid #e2e7ee;
    height: 36px;
}

.mt-footer-left,
.mt-footer-right {
    color: #4e5256;
    font-size: 13px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    display: block;
    padding-top: 10px;
}

.mt-footer-left {
    float: left;
    width: 66.6666666667%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mt-footer-right {
    float: right;
    width: 33.3333333333%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mt-footer-left a,
.mt-footer-right a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mt-footer,
.mt-push {
    /* Multicolumn Layout With Sticky Footer */
    clear: both;
}


/* GUH Helper */

.mtpl input {
    min-width: 1px !important;
}


/* === Search Page related optimizations === */


/* Refiners */

#sideNavBox .ms-searchCenter-refinement {
    margin-top: 0;
}

.ms-srchnav h2 {
    font-size: 13px !important;
    font-weight: normal !important;
}

.ms-searchCenter-result-main .ms-srchnav {
    margin-bottom: 7px
}

.ms-searchCenter-result-main .ms-srchnav-list .ms-srchnav-item a.ms-srchnav-link-selected {
    font-size: 17px;
}

.ms-srch-result {
    margin-top: 0px !important;
}

#ResultHeader {
    margin-right: 0 !important;
    margin-top: 5px !important;
    width: 500px;
    text-align: right;
}

#Sortby {
    margin-right: 0 !important;
    margin-left: 12px !important;
}

.ms-srchnav-list .ms-verticalAlignTop {
    padding-right: 12px !important;
    vertical-align: bottom !important;
}

.ms-srchnav-list .ms-verticalAlignTop a {
    line-height: 1;
}


/* Hide preferences Link */

#ResultFooter>#Preferences {
    display: none;
}


/* Counters */

.ms-ref-unsel-shortList #Value,
.ms-ref-unsel-longList #Value {
    display: table;
    max-width: 160px !important;
}

.ms-ref-unsel-shortList #Value a,
.ms-ref-unsel-longList #Value a {
    display: table-row;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 160px !important;
}

.ms-ref-unsel-shortList #Value .ms-ref-count,
.ms-ref-unsel-longList #Value .ms-ref-count {
    text-align: right;
    display: table-cell;
    font-size: 11px;
    color: rgb(102, 102, 102);
    white-space: nowrap;
}

.ms-ref-unsel-shortList #Value .ms-ref-name,
.ms-ref-unsel-longList #Value .ms-ref-name {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}